<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.theme.name }}</title>
  {% assign author = site.authors[page.author] %}
  {% if author %}
  <meta name="author" content="{{ author.display_name }}" />
  {% else %}
  <meta name="author" content="ABSOLVENTA" />
  {% endif %}
  {% if author.googleplus %}
  <link rel="author" href="{{ author.googleplus }}" />
  {% endif %}

  <meta property="og:site_name" content="{{ site.name }} – {{ site.description }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@absolventa" />
  <meta name="twitter:title" content="{{ page.title }}" />

  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}" />
  <meta name="twitter:image" content="{{ page.image }}" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/images/og-absolventacat.png" />
  <meta name="twitter:image" content="{{ site.url }}/images/og-absolventacat.png" />
  {% endif %}

  {% if page.tags %}<meta lang="en" name="keywords" xml:lang="en" content="{{ page.tags | join: ', ' }}" />{% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta lang="en" name="description" xml:lang="en" content="{{ page.description }}" />
  <meta property="og:description" content="{{ page.description }}" />
  {% elsif page.teaser %}
  <meta lang="en" name="description" xml:lang="en" content="{{ page.teaser }}" />
  <meta property="og:description" content="{{ page.teaser }}" />
  <meta name="twitter:description" content="{{ page.teaser }}" />
  {% endif %}
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

  <!-- <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"> -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Rosario' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="{{ site.theme.name }}" href="{{site.url}}/feed.xml" />

  <link rel="stylesheet" href="/assets/css/all.css">
<!--[if IE 7]>
  <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css">
<![endif]-->
</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include sidebar.html %}
    </div>

    <div class="eleven columns content">
      {{ content }}

      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
</html>
